<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.dao.AdminDao">

  <!-- 관리자 목록 조회 -->
  <select id="selectAllAdmins" resultType="com.example.demo.entity.Admin">
    SELECT admin_id, admin_login_id, admin_name, admin_email, admin_phone, admin_role, created_by, created_at, updated_at
    FROM admin
  </select>

  <!-- 관리자 상세 조회 -->
  <select id="selectAdminById" resultType="com.example.demo.entity.Admin">
    SELECT admin_id, admin_login_id, admin_name, admin_email, admin_phone, admin_role, created_by, created_at, updated_at
    FROM admin
    WHERE admin_id = #{adminId}
  </select>

  <!-- 관리자 등록 -->
  <insert id="insertAdmin" 
          parameterType="com.example.demo.entity.Admin"
          useGeneratedKeys="true"
          keyProperty="adminId"
  >
    INSERT INTO admin
      (admin_login_id, admin_password, admin_name, admin_email, admin_phone, admin_role, created_by, created_at, updated_at)
    VALUES
      (#{adminLoginId}, #{adminPassword}, #{adminName}, #{adminEmail}, #{adminPhone}, #{adminRole}, #{createdBy}, NOW(), NOW())
  </insert>

  <!-- 관리자 정보 수정 -->
  <update id="updateAdmin" parameterType="com.example.demo.entity.Admin">
    UPDATE admin
    SET admin_login_id = #{adminLoginId},
        admin_name = #{adminName},
        admin_email = #{adminEmail},
        admin_phone = #{adminPhone},
        admin_role = #{adminRole},
        updated_at = NOW()
    WHERE admin_id = #{adminId}
  </update>

  <!-- 관리자 삭제 -->
  <delete id="deleteAdmin">
    DELETE FROM admin
    WHERE admin_id = #{adminId}
  </delete>

  <!-- 로그인 ID로 관리자 조회 -->
  <select id="selectAdminByLoginId" resultType="com.example.demo.entity.Admin">
    SELECT admin_id, admin_login_id, admin_password, admin_name, admin_email, admin_phone, admin_role, created_by, created_at, updated_at
    FROM admin
    WHERE admin_login_id = #{adminLoginId}    
  </select>

  <!-- 관리자 이메일로 관리자 아이디 찾기 -->
  <select id="selectAdminIdByEmail" resultType="String">
    SELECT admin_login_id
    FROM admin
    WHERE admin_email = #{adminEmail}
  </select>

  <!-- 관리자 비밀번호 변경 -->
  <update id="updatePassword">
    UPDATE admin
    SET admin_password = #{adminPassword},
        updated_at = NOW()
    WHERE admin_id = #{adminId}
  </update>

</mapper>