<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.dao.MemberDao">

  <!-- 회원 등록 -->
  <insert id="insertMember" 
          parameterType="com.example.demo.entity.Member"
          useGeneratedKeys="true"
          keyProperty="memberId"
  >
    INSERT INTO member
      (member_login_id, member_password, member_name, member_email, member_phone, member_birth, member_gender, created_at, updated_at)
    VALUES
      (#{memberLoginId}, #{memberPassword}, #{memberName}, #{memberEmail}, #{memberPhone}, #{memberBirth}, #{memberGender}, NOW(), NOW())
  </insert>

  <!-- 회원 목록 조회 -->
  <select id="selectAllMembers" resultType="com.example.demo.entity.Member">
    SELECT member_id, member_login_id, member_name, member_email, member_phone, member_birth, member_gender, created_at, updated_at
    FROM member
  </select>

  <!-- 회원 상세 조회 -->
  <select id="selectMemberById" resultType="com.example.demo.entity.Member">
    SELECT member_id, member_login_id, member_password, member_name, member_email, member_phone, member_birth, member_gender, created_at, updated_at
    FROM member
    WHERE member_id = #{memberId}
  </select>

  <!-- 로그인 ID로 회원 조회 -->
    <select id="selectMemberByLoginId" resultType="com.example.demo.entity.Member">
        SELECT member_id, member_login_id, member_password, member_name, member_email, member_phone, member_birth, member_gender, created_at, updated_at
        FROM member
        WHERE member_login_id = #{memberLoginId}
    </select>

    <!-- 이메일로 회원 조회 -->
    <select id="selectMemberByEmail" resultType="com.example.demo.entity.Member">
        SELECT member_id, member_login_id, member_password, member_name, member_email, member_phone, member_birth, member_gender, created_at, updated_at
        FROM member
        WHERE member_email = #{memberEmail}
    </select>

  <!-- 회원 정보 수정 -->
  <update id="updateMember" parameterType="com.example.demo.entity.Member">
    UPDATE member
    SET member_name = #{memberName},
        member_phone = #{memberPhone},
        member_birth = #{memberBirth},
        member_gender = #{memberGender},
        updated_at = NOW()
    WHERE member_id = #{memberId}
  </update>

  <!-- 회원 삭제 -->
  <delete id="deleteMember">
    DELETE FROM member
    WHERE member_id = #{memberId}
  </delete>

</mapper>