<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.dao.ReservationDao">

    <!-- 예약 -->
    <insert id="insertReservation"
        parameterType="com.example.demo.entity.Reservation"
        useGeneratedKeys="true"
        keyProperty="reservationId"
    > 
        INSERT INTO reservation 
            (u_id, treatment_id, reservation_date, reservation_time, member_memo, created_at, updated_at) 
        VALUES (#{uId}, #{treatmentId}, #{reservationDate}, #{reservationTime}, #{memberMemo}, NOW(), NOW()) 
    </insert>

    <!--예약 내역 조회-->
    <select id="selectReservationsByUId" resultType="com.example.demo.entity.Reservation">
        SELECT reservation_id, u_id, treatment_id, admin_id, reservation_date, reservation_time, reservation_status, member_memo, admin_memo, pms_sync_status, created_at, updated_at
        FROM reservation
        WHERE u_id = #{uId}
        ORDER BY reservation_id
    </select>

    <!--예약 단일 조회-->
    <select id="selectReservationById" resultType="com.example.demo.entity.Reservation">
        SELECT reservation_id, u_id, treatment_id, admin_id, reservation_date, reservation_time, reservation_status, member_memo, admin_memo, pms_sync_status, created_at, updated_at
        FROM reservation
        WHERE reservation_id = #{reservationId} AND u_id = #{uId}
    </select>

    <!--예약 수정-->
    <update id="updateReservation" parameterType="com.example.demo.entity.Reservation">
        UPDATE reservation
        SET treatment_id = #{treatmentId},
            reservation_date = #{reservationDate},
            reservation_time = #{reservationTime},
            member_memo = #{memberMemo},
            updated_at = NOW()
        WHERE reservation_id = #{reservationId} AND u_id = #{uId}
    </update>

    <update id="cancelReservation">
        UPDATE reservation
        SET reservation_status = 'CANCELED',
            updated_at = NOW()
        WHERE reservation_id = #{reservationId} AND u_id = #{uId}
    </update>

</mapper>
